/* Layout rules divide the page into sections. Layouts hold one or more modules together. */

@media(max-width:767px){

  
  div{
    margin: auto;
    background: blue;
  }
  
}
@media(min-width:768px){ 
  div {
    float: left;
  }

  body {
    margin: auto;
    width: 900px;
  }
}



/* p {

} */

#a {
  height: 75px;
}

#b {
  height: 150px;
}

#c, #d {
  height: 125px;
}

#e {
  height: 250px;
  width: 240px;
}

#f {
  height: 250px;
  width: 240px;
}

#g {
  height: 250px;
  width: 240px;

}

#h {
  height: 250px;
  width: 240px;
}

#i {
  height: 80px;
}